/**
 *  Festlegen des Styles fuer die Komponenten
 */
body {
    font-family: 'Montserrat', serif;
    --lumo-font-family: 'Montserrat', serif;

    --lumo-primary-text-color: #000000FF;
    --lumo-primary-color-50pct: #DA8C187F;
    --lumo-primary-color-10pct: #DA8C1819;
    --lumo-primary-color: #FFAC20FF;
}

/**
 *  Style fuer die Navbar
 */
.grid-container-navbar {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-navbar > div {
    padding: 20px 50px;
}

.home {
    text-align: left;
}

.meineRezepte {
    text-align: center;
}

.rezeptErstellen {
    text-align: right;
}

/**
 *  Style fuer die Ueberschrift
 */
.ueberschrift {
    padding: 10px 0 20px 116px;
}

vaadin-button {
    cursor: pointer;
}