<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - MATERIAL</title>

    <link rel="stylesheet" href="../dist/bundle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<div class="grid-container-navbar">
    <div class="home">
        <mwc-button onclick="window.location.href = '/';" label="HOME"></mwc-button>
    </div>
    <div class="meineRezepte">
        <mwc-button onclick="window.location.href = 'meineRezepte';" label="Meine Rezepte"></mwc-button>
    </div>
    <div class="rezeptErstellen">
        <mwc-button onclick="window.location.href = 'erstellen';" raised label="Rezept hinzufügen"
                    icon="arrow_forward" trailingIcon></mwc-button>
    </div>
</div>
<h3 class="ueberschrift">WILLKOMMEN</h3>

<script src="../dist/bundle.js" async></script>
</body>
</html>