/**
 *  Festlegen des Styles fuer die Komponenten
 */
body {
  --mdc-typography-font-family: 'Montserrat', serif;
  font-family: 'Montserrat', serif;
  --mdc-theme-primary: #ff8c45;
  --mdc-theme-secondary: #ff8c45;
}

/**
 *  Style fuer die Navbar
 */
.grid-container-navbar {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container-navbar > div {
  padding: 20px 50px;
}

.home {
  text-align: left;
}

.meineRezepte {
  text-align: center;
}

.rezeptErstellen {
  text-align: right;
}

/**
 *  Style fuer die Ueberschrift
 */
.ueberschrift {
  padding: 10px 0 20px 116px;
}