<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="../src/gridStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>

<fluent-design-system-provider use-defaults accent-base-color="#FFB338">

    <header-tag></header-tag>

    <ueberschrift-tag ueberschrift="Rezept erstellen"></ueberschrift-tag>

    <form action="/erstellen" method="POST">
        <div class="grid-container-main">

            <div class="titel">
                <fluent-text-field placeholder="Titel" appearance="filled" type="text" name="titel" required>
                    <label>Rezepttitel</label>
                </fluent-text-field>
            </div>

            <div class="personenanzahl">
                <fluent-number-field appearance="filled" value="1" min="1" name="personenAnzahl">
                    <label>Personenanzahl</label>
                </fluent-number-field>
            </div>

            <div class="ernaehrungsform">
                <fluent-radio-group orientation="horizontal" name="ernaehrungsform" value="">
                    <label slot="label" slot="label">
                        Ernährungsform
                    </label>
                    <fluent-radio value="vegetarisch">Vegetarisch</fluent-radio>
                    <fluent-radio value="nicht vegetarisch">Nicht vegetarisch</fluent-radio>
                </fluent-radio-group>
            </div>

            <div class="kategorie">
                <label>Malzeit</label>
                <br>
                <fluent-checkbox-group name="kategorie">
                    <fluent-checkbox value="Frühstück" name="kategorie">Frühstück</fluent-checkbox>
                    <fluent-checkbox value="Mittagessen" name="kategorie">Mittagessen</fluent-checkbox>
                    <fluent-checkbox value="Abendessen" name="kategorie">Abendessen</fluent-checkbox>
                </fluent-checkbox-group>
            </div>

            <div class="zutaten">
                <label>Zutaten</label><br>

                <fluent-number-field placeholder="Menge" minlength="0" size="6" id="menge">
                </fluent-number-field>

                <fluent-select placeholder="Einheit" position="below" autocomplete="both" style="min-width: 50px;"
                               id="einheit">
                    <fluent-option value="Stück">Stück</fluent-option>
                    <fluent-option value="mg">mg</fluent-option>
                    <fluent-option value="g">g</fluent-option>
                    <fluent-option value="kg">kg</fluent-option>
                    <fluent-option value="ml">ml</fluent-option>
                    <fluent-option value="l">l</fluent-option>
                    <fluent-option value="Prise">Prise</fluent-option>
                    <fluent-option value="Pck.">Pck.</fluent-option>
                    <fluent-option value="EL">EL</fluent-option>
                    <fluent-option value="TL">TL</fluent-option>
                    <fluent-option value="Dose(n)">Dose(n)</fluent-option>
                    <fluent-option value="Scheibe(n)">Scheibe(n)</fluent-option>
                    <fluent-option value="Flasche(n)">Flasche(n)</fluent-option>
                </fluent-select>

                <fluent-text-field appearance="filled" placeholder="Zutat" id="zutat"></fluent-text-field>

                <fluent-button appearance="accent" style="border-radius: 37px;" id="hinzufuegen">+</fluent-button>

                <div id="zutatenListe"></div>
            </div>

            <div class="zubereitung">
                <fluent-text-area appearance="filled" resize="both" cols="30" name="zubereitung">
                    <label>Zubereitung</label>
                </fluent-text-area>
            </div>

            <div class="zubereitungszeit">
                <fluent-number-field appearance="filled" value="1" min="1" name="zeit">
                    <label>Zubereitungszeit (min)</label>
                </fluent-number-field>
            </div>

            <div class="speichern">
                <fluent-button appearance="accent" type="submit">Speichern</fluent-button>
            </div>

        </div>
    </form>
</fluent-design-system-provider>


<style>
    label {
        font-weight: bold;
    }
</style>

<script src="../src/zutatHinzufuegen.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>