<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="../src/gridStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>

<fast-design-system-provider accent-color="#FFAC20" base-layer-luminance="1" id="app">
    <div class="grid-container-navbar">
        <div class="brandName">
            <fast-anchor href="/" appearance="lightweight">HOME</fast-anchor>
        </div>
        <div class="meineRezepte">
            <fast-anchor href="meineRezepte" appearance="lightweight">Meine Rezepte</fast-anchor>
        </div>
        <div class="rezeptErstellen">
            <fast-anchor href="erstellen" appearance="accent">Rezept hinzufügen -></fast-anchor>
        </div>
    </div>
    <h3 class="ueberschrift">REZEPT ERSTELLEN</h3>

    <form action="/erstellen" method="POST">
        <div class="grid-container-main">

            <div class="titel">
                <fast-text-field placeholder="Titel" appearance="filled" type="text" name="titel" style="width: 420px" required>
                    <label>Rezepttitel</label>
                </fast-text-field>
            </div>

            <div class="personenanzahl">
                <fast-number-field appearance="filled" min="1" name="personenAnzahl" required>
                    <label>Personenanzahl</label>
                </fast-number-field>
            </div>

            <div class="ernaehrungsform">
                <fast-radio-group orientation="horizontal" name="ernaehrungsform" value="">
                    <label slot="label">Ernährungsform</label>
                    <fast-radio value="vegetarisch">Vegetarisch</fast-radio>
                    <fast-radio value="nicht vegetarisch">Nicht vegetarisch</fast-radio>
                </fast-radio-group>
            </div>

            <div class="kategorie">
                <label >Kategorie</label><br>
                <fast-checkbox value="Frühstück" name="kategorie">Frühstück</fast-checkbox>
                <fast-checkbox value="Mittagessen" name="kategorie">Mittagessen</fast-checkbox>
                <fast-checkbox value="Abendessen" name="kategorie">Abendessen</fast-checkbox>
            </div>

            <div class="zutaten">
                <label>Zutaten</label><br>

                <fast-number-field placeholder="Menge" min="0.1" step="0.1" size="6" id="menge"></fast-number-field>

                <fast-select placeholder="Einheit" position="below" autocomplete="both" style="min-width: 50px; margin-top: 15px" id="einheit">
                    <fast-option value="Stück">Stück</fast-option>
                    <fast-option value="mg">mg</fast-option>
                    <fast-option value="g">g</fast-option>
                    <fast-option value="kg">kg</fast-option>
                    <fast-option value="ml">ml</fast-option>
                    <fast-option value="l">l</fast-option>
                    <fast-option value="Prise">Prise</fast-option>
                    <fast-option value="Pck.">Pck.</fast-option>
                    <fast-option value="EL">EL</fast-option>
                    <fast-option value="TL">TL</fast-option>
                    <fast-option value="Dose(n)">Dose(n)</fast-option>
                    <fast-option value="Scheibe(n)">Scheibe(n)</fast-option>
                    <fast-option value="Flasche(n)">Flasche(n)</fast-option>
                </fast-select>

                <fast-text-field appearance="filled" placeholder="Zutat" id="zutat"></fast-text-field>

                <fast-button appearance="accent" style="border-radius: 37px;" id="hinzufuegen">+</fast-button>

                <div id="zutatenListe"></div>
            </div>

            <div class="zubereitung">
                <fast-text-area appearance="filled" resize="both" cols="50" rows="7" name="zubereitung">
                    <label>Zubereitung</label>
                </fast-text-area>
            </div>

            <div class="zubereitungszeit">
                <fast-number-field appearance="filled" value="1" min="0.1" step="0.1" name="zeit">
                    <label>Zubereitungszeit (min)</label>
                </fast-number-field>
            </div>

            <div class="speichern">
                <fast-button appearance="accent" type="submit">Speichern</fast-button>
            </div>

        </div>
    </form>
</fast-design-system-provider>

<script src="../src/zutatHinzufuegen.js"></script>
<script src="../dist/bundle.js"></script>

</body>
</html>