<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/gridStyle.css">
    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>

<fluent-design-system-provider use-defaults accent-base-color="#FFB338">
    <div class="grid-container-navbar">
        <div class="brandName">
            <fluent-anchor href="/" appearance="stealth">HOME</fluent-anchor>
        </div>
        <div class="meineRezepte">
            <fluent-anchor href="meineRezepte" appearance="stealth">Meine Rezepte</fluent-anchor>
        </div>
        <div class="rezeptErstellen">
            <fluent-anchor href="erstellen" appearance="accent">Rezept hinzufügen -></fluent-anchor>
        </div>
    </div>
    <h3 class="ueberschrift">WILLKOMMEN</h3>
</fluent-design-system-provider>

<script src="../dist/bundle.js"></script>

</body>
</html>