<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/gridStyle.css">
    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>

<fast-design-system-provider accent-color="#FFAC20" id="app">
    <div class="grid-container-navbar">
        <div class="brandName">
            <fast-anchor href="/" appearance="lightweight">HOME</fast-anchor>
        </div>
        <div class="meineRezepte">
            <fast-anchor href="meineRezepte" appearance="lightweight">Meine Rezepte</fast-anchor>
        </div>
        <div class="rezeptErstellen">
            <fast-anchor href="erstellen" appearance="accent">Rezept hinzufügen -></fast-anchor>
        </div>
    </div>
    <h3 class="ueberschrift">WILLKOMMEN</h3>
</fast-design-system-provider>

<script src="../dist/bundle.js"></script>

</body>
</html>