<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>
    <link rel="stylesheet" href="../src/gridStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>

    <fluent-design-system-provider use-defaults accent-base-color="#FFB338">

        <header-tag></header-tag>

        <ueberschrift-tag ueberschrift="Willkommen"></ueberschrift-tag>

    </fluent-design-system-provider>

    <style>
        body{
            font-family: 'Montserrat';
        }
    </style>

    <script src="../dist/bundle.js"></script>


</body>
</html>


