/**
 *  Festlegen des Styles fuer die Komponenten
 */
#app, #einheit {
    font-family: 'Montserrat', serif;
    --body-font: 'Montserrat', serif;

    --accent-foreground-rest: #ffac20;
    --accent-foreground-hover: #ffac20;
    --accent-foreground-active: #ffac20;
    --accent-foreground-focus: #ffac20;

    --foreground-on-accent-rest: #ffffff;
    --foreground-on-accent-hover: #ffffff;
    --foreground-on-accent-active: #ffffff;
    --foreground-on-accent-focus: #ffffff;
}

/**
 *  Verhindert, dass ungestylte Elemente angezeigt
 *  werden (flash)
 */
:not(:defined) {
    visibility: hidden;
}

/**
 *  Style fuer die Navbar
 */
.grid-container-navbar {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-navbar > div {
    padding: 20px 50px;
}

.home {
    text-align: left;
}

.meineRezepte {
    text-align: center;
}

.rezeptErstellen {
    text-align: right;
}

/**
 *  Style fuer die Ueberschrift
 */
.ueberschrift {
    padding: 10px 0 20px 116px;
}

/**
 *  Style die Labels in der Erstellen Ansicht
 */
label {
    font-size: 16px;
}